body{
background-color: white;
font-family: myriad-pro,Helvetica, Arial, sans-serif;
margin: auto;
;
}

h1{
}

h2{
}

.center-container{
width:1024px;
height: 1700px;
margin:auto;
}

.searchbar{
height: 100px;
color: white;
background-color: #404041;
text-align: right;
width: 1024px;
}

.nav{

}

.navleft{
width: 50%;
float: left;
min-height: 50px;

}


.navright{
width: 50%;
float: right;
font-family: myriad-pro,Helvetica, Arial, sans-serif;
font-size: 20px;
margin-left: 30px;
margin-right: 30px;
float: right;
clear:
}
  
.Hero{
width: 960px;
}

.bookbutton{
position: relative;
background-color: #D65628;
float: left;
margin-left: 30px;
margin-right: 30px;
padding: 10px;
border-radius: 7px;
color: white;
font-size: 20px;
}

.copyone{
padding: 20px;
margin: auto;
max-width: 1024px;
}

.imagesone{
padding: 20px;
margin-right: 20px;
margin: auto;


}

.seeall{
text-align:right;
right: 20px;
}

.copytwo{
padding: 20px;
margin: auto;
max-width: 1024px;
}

.imagestwo{
position: relative;
left: 50px;
align-items: center;
display: flex;
}

.footer{
height: 100px;
color: white;
background-color: #404041;
text-align: right;
width: 1024px;
}

.footer-top{
text-align: right;
padding: 30px;

}

.footer-bottom{
text-align: right;
padding-right: 100px;
padding-left: 100px;
color: white;

}


.fab fa-instagram{
color:white;}

.fab fa-facebook{
color:white;}

.fab fa-linkedin{
color:white;}

.fab fa-twitter{
color:white;}

.fab fa-youtube{
color:white;}

.fas fa-search{
color:white;}

.fas fa-user{
color:white;}





