body{
background-color: white;
font-family: myriad-pro,Helvetica, Arial, sans-serif;
margin: auto;
font-size: 20px;
}



h2{
font-size: 30px;
font-weight: bold;
}


.scrollspace{
background-color: blue;
height: 300px;
}


.center-container{
width:1024px;
margin: auto;
background-color: white;
}

.searchbar{
height: 30px;
color: white;
background-color: #404041;
width: 1024px;
float: right;
clear: both;
text-align: right;
font-size: 20px;
}


.navleft{
width: 50%;
float: left;
min-height: 50px;
}


.navright{
width: 40%;
font-family: myriad-pro,Helvetica, Arial, sans-serif;
font-size: 20px;
position: relative;
float: right;
text-align: right;
}
  
.Hero{
margin-top: -24px;
width: 1024px;
clear:both;
}

.bookbutton{
position: relative;
top: -100px;
left: 40px;
background-color: #D65628;
float: left;
padding: 10px;
border-radius: 7px;
color: white;
font-size: 30px;
font-weight: bold;
}

.copyone{
padding: 20px;
margin: auto;
max-width: 1024px;
clear: both;
margin-top: -20px;
color:black;
}


.beasts{
position: relative;

float: left;
clear:both;
float: left;
}

.seeall{
text-align:right;
right: 20px;
clear:both;
color: #D6562B;
}

.copytwo{
padding: 20px;
margin: auto;
max-width: 1024px;
clear:both;

}

.imagestwo{
position: relative;
float: left;
clear:both;
}


.profiles1{
clear:both;
margin-left: 50px;
}

.profiles2{
clear:both;
margin-left: 50px;
}

.profiles3{
clear:both;
margin-left: 50px;
}

.footer{
height: 100px;
color: white;
background-color: #404041;
text-align: right;
width: 1024px;
clear: both;
}

.footer-top{
text-align: right;
margin-right: 20px;
margin-top: 24px;
padding: 20px;
}

.footer-bottom{
text-align: right;
color: white;
float:right;
margin-left: 200px;
margin-right: 40px;
font-size: 20px;
}


.fab fa-instagram{
color:white;}

.fab fa-facebook{
color:white;}

.fab fa-linkedin{
color:white;}

.fab fa-twitter{
color:white;}

.fab fa-youtube{
color:white;}

.fas fa-search{
color:white;}

.fas fa-user{
color:white;}



a {
  color: #D6562B;
}

.headerbook {
background-color: #D65628;
float: right;
padding: 10px;
border-radius: 7px;
color: white;
font-size: 20px;
font-weight: bold;
}

h3 {
position: relative;
text-align: justify;
top: -70px;
width: 900px;
margin: auto;
font-size: 25px;
font-weight: bold;
color: white;
}
